absl-py==0.15.0
astor==0.8.1
backports.functools-lru-cache==1.6.6
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
cachetools==3.1.1
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
cleo==0.8.1
clikit==0.6.2
contextlib2==0.6.0.post1
cycler==0.10.0
enum34==1.1.10
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.3
futures==3.4.0
gast==0.2.2
gitlab==1.0.2
google-auth==1.35.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.41.1
h5py==2.10.0
idna==2.10
importlib-resources==3.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==2.2.5
mock==3.0.5
numpy==1.16.6
oauthlib==3.1.0
openai==0.6.4
opt-einsum==2.3.2
pandas==0.24.2
pastel==0.2.1
pathlib==1.0.1
pathlib2==2.3.7.post1
protobuf==3.17.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.18.0
pylev==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.18.0
pytz==2023.3.post1
requests==2.27.1
requests-oauthlib==1.4.1
rsa==4.5
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.2
singledispatch==3.7.0
six==1.16.0
soupsieve==1.9.6
subprocess32==3.5.4
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
torch==1.5.0
tqdm==4.64.1
typing==3.10.0.0
urllib3==1.26.16
Werkzeug==1.0.1
wrapt==1.15.0
zipp==1.2.0
